<?xml version="1.0"?>
<launch>
<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping">
    <remap from="/scan" to ="/scan/hokuyo"/>
    <rosparam>
    maxUrange: 3.8
    base_frame: base_link
    map_update_interval: 0.1
    minimumScore: 650     <!-- poner mas de 600 que tan bueno es el escaneo laser-->
    linearUpdate: 0.3
    angularUpdate: 0.218
    temporalUpdate: 0.5
    xmin: -8
    ymin: -6
    xmax: 8
    ymax: 6
    maxRange: 4
    particles: 200
    iterations: 10
    srr: 0.01
    srt: 0.02
    str: 0.01
    stt: 0.02
    delta: 0.1
    </rosparam>
</node>
</launch>