<?xml version="1.0"?>
<launch>
    <!-- GUI -->
	<arg name="rviz"           default="true"/>
    <arg name="gazebo_gui"     default="true"/>

    <!-- robot simulation -->
	<arg name="worldname"    default="stage"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="init_pose"   value="-x 0 -y 0 -z 0"/>
    <arg name="init_pose_x" value="0"/>
    <arg name="init_pose_y" value="0"/>
    <arg name="robot_name"  value="jaime_standalone"/>

    <!-- Launches Kobuki Gazebo simulation in an empty world -->
    <!-- start Gazebo with an empty world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="use_sim_time" value="true"/>
        <arg name="debug"        value="false"/>
        <arg name="world_name"   value="$(find gazebo_simulation)/worlds/$(arg worldname).world"/>
        <arg name="gui"          value="$(arg gazebo_gui)"/>
    </include>
    
    <!-- spawn the robot -->
    <!-- <include file="$(find kobuki_gazebo)/launch/includes/robot.launch.xml"/> -->
    <!-- <arg name="robot_name" value="mobile_base"/> -->
    <param name="robot_description"
            command="$(find xacro)/xacro '$(find jaime_description)/urdf/jaime_standalone.urdf.xacro'"/>

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_$(arg robot_name)"
            args="-x 0.0 -y 0.0 -z 1.5 -unpause -urdf -param robot_description -model $(arg robot_name)" respawn="false">
    </node>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="30.0"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="$(arg robot_name)_nodelet_manager" args="manager"/>

    <node name="joy_node" pkg="joy" type="joy_node" output="screen"/>
    
    <include file="$(find move_base_navigation)/launch/localization.launch"/>
    
</launch>